{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

<div class="header-bar">
    <h1>Login To Your Diary!</h1>
</div>

<div class="card-body">
    <div class="form-wrapper">
        <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login"/>
    </form>
    </div>

    <p>Not registered yet? What are you doing!  <a href="{% url 'register' %}" >Register</a> </p>
</div>

{% endblock content %}